<div id="<%= dom_id wx %>">
  <p>
    <strong>Street:</strong>
    <%= wx.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= wx.city %>
  </p>

  <p>
    <strong>State or province:</strong>
    <%= wx.state_or_province %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= wx.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= wx.country %>
  </p>

</div>
