
<div class="container">
  <h2>The weather at postal code: <%= @wx.postal_code %></h2>
  <% if @weather == false %>
    Sorry, something went wrong. We can't show the weather there now. Please contact support if the problem persists, or take a look at our help documentation <a href="https://www.google.com">here</a>.
  <% else %>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <% if @weather.has_key?(:cached_time) && (Time.now.to_i - @weather[:cached_time]) > 5 %>
            <p class="text-danger">Results from cache created <%= Time.now.to_i - @weather[:cached_time] %> seconds ago. Will expire in 30 minutes.</p>
          <% else %>
            <p class="text-danger">Fresh results pulled from API.</p>
          <% end %>
        </div>
      </div>
      <div class="row row-cols-5">
        <% @weather["properties"]["periods"].each_with_index do |period, index| %>
          <div class="col">
            <img src="<%= period["icon"] %>">
            <br>
            <b><%= period["name"] %></b> 
            <br>
            <%= period["detailedForecast"] %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

